// Variaveis para a aplicação

//Cores
$white: #fff;

$gray-100: #e1e1e6;
$gray-300: #a8a8b3;
$gray-700: #323238;
$gray-800: #29292e;
$gray-900: #121214;

$gray-green: #1f2729;

$green-400: #77e4a8;
$green-500: #04d361;

$cyan-500: #61dafb;
$orange-500: #eba417;
