// Variaveis para a aplicação

//Cores 
$white: #fff;

$gray-100: #E1E1E6;
$gray-300: #A8A8B3;
$gray-800: #29292E;
$gray-900: #121214;

$gray-green: #1f2729;

$cyan-500: #61DAFB;
$orange-500: #EBA417;
